$negro: #111111;
$blanco: #FEFEFE;
$grisOscuro: #222222;
$grisClaro: #C8C8C8;
$grisClaroHover: #ACABAB;
$azul: #3E60E9;
$azulHover: #254BE6;

$sombraDark: 10px 10px 20px rgba(170,170,170,.16);
$sombraLight: 10px 10px 20px rgba(0,0,0,.16);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #F1F1F1;
	font-family: 'Roboto', sans-serif;
	transition: .3s ease all;

	&.dark{
		background: $negro;
	}
}

a {
	color: $grisOscuro;
	text-decoration: none;
	font-weight: 500;
}

.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	padding: 50px 0;
}

// ----- ----- ----- ----- ----- HEADER ----- ----- ----- ----- ----- 
nav {
	background: $blanco;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
	border-radius: 5px;
	transition: .3s ease all;
	box-shadow: $sombraDark;

	body.dark & {
		background: $grisOscuro;
		box-shadow: $sombraLight;
		a{
			color: $grisClaro;
			&:hover {
				color: $blanco;
			}
		}
	}

	.logotipo {
		font-weight: 700;
		font-family: 'Roboto', sans-serif;
	}

	.enlaces {
		display: flex;
		align-items: center;
		a {
			margin-right: 40px;
			&:hover {
				color: #707070;
			}
		}
	}
}

// ----- ----- ----- ----- ----- Switch ----- ----- ----- ----- ----- 

.switch{
	background: #343d5b;
	border-radius: 1000px;
	border: none;
	position: relative;
	cursor: pointer;
	display: flex;
	outline: none;

	&::after{
		content: "";
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		background: #f1f1f1;
		top: 0;
		left: 0;
		right: unset;
		border-radius: 100px;
		transition: .3s ease all;
		box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
	}

	&.active {
		background: orange;
		color: #000;

		&::after{
			right: 0;
			left: unset;
		}
	}

	span{
		width: 30px;
		height: 30px;
		line-height: 30px;
		display: block;
		background: none;
		color: #fff;
		padding: 0 0 0 7px;
	}
}

/*Opiniones*/
.opinion{
	margin-top: 100px;
	text-align: center;
	.heading{
		font-size: 40px;
		color: $negro;

		body.dark & {
			color: $grisClaro;
		}
	}

	.row {
		display: grid;
		grid-gap: 40px 20px;
		grid-template-columns: repeat(3, 1fr);
		padding: 40px 0;
		
		
		.columns {
			background: $blanco;
			text-align: center;
			width: 400px;
			box-shadow: $sombraDark;
			border-radius: 10px;
			margin: auto;

			body.dark &{
				background: $grisOscuro;
				color: $blanco;
				box-shadow: $sombraLight;
			}
	
			img{
				border-radius: 50%;
				width: 100px;
				margin: 10px;
			}

			h3 {
				font-size: 20px;
			}

			p{
				font-size: 15px;
				padding: 10px;
			}
		}
	}
}
